<div class="meet">
    <p class="meet-text">The hands of a Surgeon.The sensitivity of a conuselor.The eye of an artist.</p>
    <p  class="meet-text">All dedicated to helping you feel your best.</p>
    <button class="meet-btn">Meet Our Teams</button>

</div>


<div class="teams bg-slate-100 rounded-xl">
    <div class="teams-meet1">
    <div class="teams-meet1-mainDiv">
        <diV class="teams-meet1-mainDiv-leftDiv">
            <h5 class="teams-meet1-mainDiv-rightDiv-heading">Reconstructive</h5>
            <p class="teams-meet1-mainDiv-leftDiv-text">teams ipsum, dolor sit amet consectetur adipisicing elit. Explicabo necessitatibus
                teams ipsum, dolor sit amet consectetur adipisicing elit. Explicabo necessitatibus </p>
        </diV>
        <div class="teams-meet1-mainDiv-rightDiv">
            <h5 class="teams-meet1-mainDiv-rightDiv-heading">Cosmetic & Aesthetics</h5>
            <p class="teams-meet1-mainDiv-rightDiv-text">teams ipsum, dolor sit amet consectetur adipisicing elit. Explicabo necessitatibus
                teams ipsum, dolor sit amet consectetur adipisicing elit. Explicabo necessitatibus </p>
        </div>
    </div>
   
    </div>
</div>
<div class="teams">
    <div class="teams-meet">
  
    <P class="teams-meet-text">teams ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ullam laboriosam
        voluptatibus, doloribus cum culpa corrupti quibusdam nam quas iusto dolor nostrum, error in ea cupiditate,
        pariatur dicta soluta illo.

    </P>
    </div>
</div>
