<div class="surgical">
    <h2 class="surgical__heading"> Surgical Service -  Restoring What Illness or Injury Took Away</h2>
    <P class="surgical__para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta asperiores labore. Excepturi voluptatibus ducimus quam, eos autem velit deserunt hic, nisi mollitia incidunt quas alias reprehenderit veritatis, iure commodi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique dolor officiis ex laborum consequuntur, at quas fugiat dolorem necessitatibus alias expedita beatae provident dolores optio magni assumenda eius, repudiandae maxime.
    </P>
    <P class="surgical__para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta asperiores labore. Excepturi voluptatibus ducimus quam, eos autem velit deserunt hic, nisi mollitia incidunt quas alias reprehenderit veritatis, iure commodi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse exercitationem dicta ex at iusto aliquam earum fugit vitae deserunt quaerat odit aperiam, ipsam culpa magnam inventore nostrum hic nisi laboriosam!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique dolor officiis ex laborum consequuntur, at quas fugiat dolorem necessitatibus alias expedita beatae provident dolores optio magni assumenda eius, repudiandae maxime.
    </P>

    <div class="surgical__services">

<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>
<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>
<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>
<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>
<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>
<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>
<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>
<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>
<div class="surgical__services-types">
    <img src="../../images/team.png" class="surgical__services-types-img" alt="banner-img">
    <h4 class="surgical__services-types-data">Body Contouring</h4>
</div>

    </div>
</div>