.meet {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: auto;


    &-text {
        color: $darkred;
        padding-bottom: 10px;
    }

    button {

        padding: 15px;
        background-color: $darkred;
        color: $white;
    }

    &-paq1 {
        top: 15px;
        border: 1px solid $darkred;
    }
}

.teams {
    position: relative;

    margin-top: 20px;

    min-height: 200px;
    margin-bottom: 35px;

    @include max-screen(md) {
        min-height: 0px
    }

    &-meet {
        background-color: $darkred;
        min-height: 300px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        padding: 20px;
        padding-bottom: 50px;
        clip-path: ellipse(95% 100% at 50% 100%);

        &-mainDiv {
            display: flex;
            position: absolute;
            justify-content: center;
            gap: 50px;
            top: -80px;


            &-leftDiv {
                color: $white;
                background-color: $black;
                border: 2px solid $black;
                width: 30%;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
                padding: 15px;

                &-text {
                    color: $white;
                    font-size: 20px;
                }
            }

            &-rightDiv {
                color: $white;
                background-color: $black;
                border: 2px solid $black;
                width: 30%;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
                padding: 15px;

                &-heading {
                    font-size: 22px;
                }

                &-text {
                    color: $white;
                    font-size: 20px
                }
            }


        }

        &-heading {
            font-size: 22px;
        }

        &-text {
            color: $white;
            max-width: 70%;

        }
    }

    &-meet1 {
        background-color: $white;

        @include max-screen(md) {
            display: none;
            height: 0px;
        }

        &-mainDiv {
            display: flex;
            position: absolute;
            justify-content: center;
            gap: 50px;
            bottom: -150px;
            z-index: 5;


            &-leftDiv {
                color: $white;
                background-color: $black;
                border: 2px solid $black;
                width: 30%;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
                padding: 15px;

                &-text {
                    color: $white;
                    font-size: 20px;
                }
            }

            &-rightDiv {
                color: $white;
                background-color: $black;
                border: 2px solid $black;
                width: 30%;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
                padding: 15px;

                &-heading {
                    font-size: 22px;
                }

                &-text {
                    color: $white;
                    font-size: 20px
                }
            }


        }

        &-heading {
            font-size: 22px;
        }

        &-text {
            color: $white;
            max-width: 70%;
            margin: auto;
            margin-top: 160px;
        }
    }
}
