.cosmetic {
    background-color: $white-light;
    width: 100%;
    margin-top: 50px;

    &__Aesthetic {
padding-top: 30px;
padding-bottom: 30px;
        max-width: 90%;
        margin: auto;

        &-heading {
            color: $red;
            font-size: 35px;
            padding-bottom: 30px;
        }

        &-para {
            font-size: 18px;
            padding-bottom: 30px;
        }

        &-services {

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;


            max-width: 985px;
            margin: auto;
            margin-bottom: 30px;

            &-types {
                display: flex;
                flex-direction: column;
                align-items: center;

                &-img {
                    clip-path: circle(43%);
                }

            }
        }
    }
}
