.thank {
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;

    &__you {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &-left {
            width: 50%;
            padding-bottom: 10px;

            &-heading {
                font-family: $bodoni;
                font-size: 30px;
                color: $darkred;
                margin-bottom: 10px;
            }

            &-para {
                font-size: 20px;
            }
        }

        &-right {

            &-para {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 5px;
            }

            &-bttn {
                margin-top: 10px;
                padding: 10px;
                color: $white;
                background-color: $darkred;
                border: 2px solid $darkred;
                margin-bottom: 20px;

            }

            &-img {
                border-bottom-left-radius: 50px;
                margin-bottom: 10px;
                max-height: 70%;
            }


        }
    }
}