<div class="location">
    <div class="location-content">
        <h2 class="location-content-heading">location</h2>

        <div class="location-content-card">
            <div class="location-content-card-allentown">
                <h5 class="location-content-card-allentown-heading">Allentown</h5>
                <p class="location-content-card-allentown-text">St.luke's West End Medical Center</p>
                <p class="location-content-card-allentown-text">501 Cetronia Road suite 135 </p>
                <p class="location-content-card-allentown-text">Allentown,PA 18104</p>
                <p class="location-content-card-allentown-number">(484)526 1260</p>
                <div class="location-content-card-allentown-office">
                    <h5 class="location-content-card-allentown-office-hours">Office Hours</h5>
                    <p class="location-content-card-allentown-office-time">Monday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                    <p class="location-content-card-allentown-office-time">Wednesday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM -
                        noon</p>
                </div>

            </div>
            <div class="location-content-card-bethlehem">
                <h5 class="location-content-card-bethlehem-heading">Bethlehem</h5>

                <p class="location-content-card-bethlehem-text">St.luke's West End Medical Center</p>
                <p class="location-content-card-bethlehem-text">501 Cetronia Road suite 135 </p>
                <p class="location-content-card-bethlehem-text">Allentown,PA 18104</p>
                <p class="location-content-card-bethlehem-number">(484)526 1260</p>
                <div class="location-content-card-bethlehem-office">
                    <h5 class="location-content-card-bethlehem-office-hours">Office Hours</h5>
                    <p class="location-content-card-bethlehem-office-time">Monday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                    <p class="location-content-card-bethlehem-office-time">Wednesday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM -
                        noon</p>
                </div>
            </div>
            <div class="location-content-card-valley">
                <h5 class="location-content-card-valley-heading">Center valley</h5>

                <p class="location-content-card-valley-text">St.luke's West End Medical Center</p>
                <p class="location-content-card-valley-text">501 Cetronia Road suite 135 </p>
                <p class="location-content-card-valley-text">Allentown,PA 18104</p>
                <p class="location-content-card-valley-number">(484)526 1260</p>
                <div class="location-content-card-valley-office">
                    <h5 class="location-content-card-valley-office-hours">Office Hours</h5>
                    <p class="location-content-card-valley-office-time">Monday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                    <p class="location-content-card-valley-office-time">Wednesday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                </div>

            </div>
            <div class="location-content-card-easton">
                <h5 class="location-content-card-easton-heading">Easton</h5>
                <p class="location-content-card-easton-text">St.luke's West End Medical Center</p>
                <p class="location-content-card-easton-text">501 Cetronia Road suite 135 </p>
                <p class="location-content-card-easton-text">Allentown,PA 18104</p>
                <p class="location-content-card-easton-number">(484)526 1260</p>
                <div class="location-content-card-easton-office">
                    <h5 class="location-content-card-easton-office-hours">Office Hours</h5>
                    <p class="location-content-card-easton-office-time">Monday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                    <p class="location-content-card-easton-office-time">Wednesday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                </div>
            </div>
            <div class="location-content-card-palmerton">
                <h5 class="location-content-card-palmerton-heading">Palmerton</h5>

                <p class="location-content-card-palmerton-text">St.luke's West End Medical Center</p>
                <p class="location-content-card-palmerton-text">501 Cetronia Road suite 135 </p>
                <p class="location-content-card-palmerton-text">Allentown,PA 18104</p>
                <p class="location-content-card-palmerton-number">(484)526 1260</p>
                <div class="location-content-card-palmerton-office">
                    <h5 class="location-content-card-palmerton-office-hours">Office Hours</h5>
                    <p class="location-content-card-palmerton-office-time">Monday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                    <p class="location-content-card-palmerton-office-time">Wednesday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                </div>

            </div>
            <div class="location-content-card-strouds">
                <h5 class="location-content-card-strouds-heading">Stroudsbrug</h5>
                
                <p class="location-content-card-strouds-text">St.luke's West End Medical Center</p>
                <p class="location-content-card-strouds-text">501 Cetronia Road suite 135 </p>
                <p class="location-content-card-strouds-text">Allentown,PA 18104</p>
                <p class="location-content-card-strouds-number">(484)526 1260</p>
                <div class="location-content-card-strouds-office">
                    <h5 class="location-content-card-strouds-office-hours">Office Hours</h5>
                    <p class="location-content-card-strouds-office-time">Monday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    
                    <p class="location-content-card-strouds-office-time">Wednesday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                </div>
            </div>
            <div class="location-content-card-quakertown">
                <h5 class="location-content-card-quakertown-heading">Quakertown</h5>

                <p class="location-content-card-quakertown-text">St.luke's West End Medical Center</p>
                <p class="location-content-card-quakertown-text">501 Cetronia Road suite 135 </p>
                <p class="location-content-card-quakertown-text">Allentown,PA 18104</p>
                <p class="location-content-card-quakertown-number">(484)526 1260</p>
                <div class="location-content-card-quakertown-office">
                    <h5 class="location-content-card-quakertown-office-hours">Office Hours</h5>
                    <p class="location-content-card-quakertown-office-time">Monday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                   
                    <p class="location-content-card-quakertown-office-time">Wednesday:&nbsp;&nbsp;&nbsp;&nbsp; 8:30AM - noon
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>