<div class="education">
    <h2 class="education-head">Education</h2>
    <div class="education-data">
        <div class="education-data-medical">
            <h5 class="education-data-medical-heading">Medical School</h5>
            <p class="education-data-medical-text">Bonston University School of Medicine,1992</p>
            <p class="education-data-medical-text">Bonston University School of Medicine,1992</p>
        </div>
        <div class="education-data-internship">
            <h5 class="education-data-internship-heading">Internship</h5>
            <p class="education-data-internship-text">Lehight valley health network 1992-1993</p>
        </div>

</div>
<div class="educt">
        <div class="educt-bottom">
            <div class="educt-bottom-Resdiencies">
                <h5 class="educt-bottom-Resdiencies-heading">Resdiencies</h5>
                <p class="educt-bottom-Resdiencies-text">Lehight valley health network 1992-1993</p>
                <p class="educt-bottom-Resdiencies-text">Lehight valley health network 1992-1993</p>
            </div>
            <div class="educt-bottom-felloShip">
                <h5 class="educt-bottom-felloShip-heading">felloShip</h5>
                <p class="educt-bottom-felloShip-text">Childrean hospital of orange country 2000-2001</p>
                <p class="educt-bottom-felloShip-text">Childrean hospital of orange country 2000-2001</p>
            </div>
        </div>
    </div>
</div>