<plasticReconst>
    <div class="header">
        <div class="header__left">
            <div class="header__left-icon">
                <i class="fas fa-bars"></i>
                <a href="#" class="header__left-icon-text">menu</a>
            </div>
            <div class="header__left-logo">
                <img src="../../images/header-logo.png" class="filter" alt="logo">
            </div>
        </div>
        <div class="header__right">
            <a href="#" class="header__right-text"><i class="fas fa-dollar-sign"></i> pay a bill</a>
            <a href="#" class="header__right-text"><i class="fas fa-gift"></i>make a gift</a>
            <a href="#" class="header__right-text"><i class="fas fa-user-circle"></i>login</a>
            <a href="#" class="header__right-text"><i class="fas fa-search "></i></a>
        </div>
    </div>
    <div class="plasticReconst">
        <p class="plasticReconst-text">Plastic & Reconstructive Surgery</p>
    </div>
    <div class="bottomDiv">

        <a href="#" class="navbar">About Us </a>
        <a href="#" class="navbar">Services</a>
        <a href="#" class="navbar">Locations</a>
        <a href="#" class="navbar">Gallery</a>
        <a href="#" class="navbar">Contact Us</a>





        <div class="hiddDiv1 qq">
            <div class="hiddDiv1-aa">
                <div class="hiddDiv1-aa-hiddDivnav">
                    <a href="#" class="hiddDiv1-aa-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                    <a href="#" class="hiddDiv1-aa-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                    <a href="#" class="hiddDiv1-aa-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                </div>
                <div class="hiddDiv1-aa-hiddDivnav">
                    <a href="#" class="hiddDiv1-aa-hiddDivnav-text">Reconstructive Surgery</a>
                    <a href="#" class="hiddDiv1-aa-hiddDivnav-text"> Reconstructive Surgery</a>
                    <a href="#" class="hiddDiv1-aa-hiddDivnav-text">Reconstructive Surgery</a>
                </div>
                <div class="hiddDiv1-aa-hiddDivnav">
                    <a href="#" class="hiddDiv1-aa-hiddDivnav-text">Reconstructive </a>
                    <a href="#" class="hiddDiv1-aa-hiddDivnav-text">Reconstructive </a>

                </div>
            </div>
        </div>
        <div class="hiddDiv2 qq">
            <div class="hiddDiv2-aa2">
                <div class="hiddDiv2-aa2-hiddDivnav1">
                    <a href="#" class="hiddDiv2-aa2-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                    <a href="#" class="hiddDiv2-aa2-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                    <a href="#" class="hiddDiv2-aa2-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                </div>
            </div>
        </div>
        <div class="hiddDiv3 qq">
            <div class="hiddDiv23-aa3">
                <div class="hiddDiv3-aa3-hiddDivnav1">
                    <a href="#" class="hiddDiv3-aa3-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                    <a href="#" class="hiddDiv3-aa3-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                    <a href="#" class="hiddDiv3-aa3-hiddDivnav-text"> Reconstructive Surgery Reconstructive</a>
                </div>
            </div>
        </div>



</plasticReconst>