<div class="main-team">
    <div class="main-team-top">
        <h2 class="main-team-top-heading">Meet Our Team</h2>
        <p class="main-team-top-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae ratione et dolorem eum quaerat quisquam
            similique obcaecati recusandae, assumenda doloremque ex deleniti commodi fugiat laudantium. Assumenda ex
            voluptates ipsum officia.</p>

    </div>
    <div class="main-team-bottom">
        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>
        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>

        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>

        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>

        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>
        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>

        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>
        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>
        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>
        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>
        <div class="main-team-bottom-data">
            <img src="../../images/team.png" class="main-team-bottom-data-img" alt="banner-img">
            <h5 class="main-team-bottom-data-heading">W.M.Morryssey</h5>
            <P class="main-team-bottom-data-para">Plastic Surgery</P>
            <p class="main-team-bottom-data-para">employed Provider</p>
            <a href="#" class="main-team-bottom-data-bttn"> View More Information</a>
        </div>

    </div>

</div>


</div>