<div class="offer">
    <h3 class="offer__heading">What Do we Offer?</h3>
    <div class="offer__content">

        <div class="offer__content-para">
            <P class="offer__content-para-text">

                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos cupiditate ratione repellat reiciendis
                error amet unde pariatur rem qui, dolor, tenetur nisi temporibus neque a assumenda adipisci labore
                aspernatur deleniti!
            </P>
            <div class="offer__content-para-box">
                <h5 class="offer__content-para-box-head"><i class="fas fa-plus-circle showBtn"> </i>Brow Life</h5>
                <div class="offer__content-para-box-data">
                    <P class="offer__content-para-box-data-text " >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Illum eum debitis perspiciatis doloremque id
                        voluptas aperiam aliquam placeat obcaecati inventore corrupti, incidunt soluta iste sunt cumque
                        corporis. </P>
                </div>
            </div>
            <div class="offer__content-para-box">
                <h5 class="offer__content-para-box-head"><i class="fas fa-plus-circle showBtn"></i>Brow Life</h5>
                <div class="offer__content-para-box-data">
                    <P class="offer__content-para-box-data-text">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Illum eum debitis perspiciatis doloremque id
                        voluptas aperiam aliquam placeat obcaecati inventore corrupti, incidunt soluta iste sunt cumque
                        corporis. </P>
                </div>
            </div>
            <div class="offer__content-para-box">
                <h5 class="offer__content-para-box-head"><i class="fas fa-plus-circle showBtn"></i>Brow Life</h5>
                <div class="offer__content-para-box-data">
                    <P class="offer__content-para-box-data-text">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Illum eum debitis perspiciatis doloremque id
                        voluptas aperiam aliquam placeat obcaecati inventore corrupti, incidunt soluta iste sunt cumque
                        corporis. </P>
                </div>
            </div>
            <div class="offer__content-para-box">
                <h5 class="offer__content-para-box-head"><i class="fas fa-plus-circle showBtn"></i>Brow Life</h5>
                <div class="offer__content-para-box-data">
                    <P class="offer__content-para-box-data-text">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Illum eum debitis perspiciatis doloremque id
                        voluptas aperiam aliquam placeat obcaecati inventore corrupti, incidunt soluta iste sunt cumque
                        corporis. </P>
                </div>
            </div>
        </div>


        <div class="offer__content-img">
            <img src="../../images/team.png" class="offer__content-img-a" alt="banner-img">
<p class="offer__content-img-see">See Before & After Picture</p>
            
            <a href="3"class="offer__content-img-request"> Request Your Consultation</a>
        </div>
    </div>

</div>