<div class="about-location">
    <h3 class="about-location-heading">Information About Location</h3>
    <P class="about-location-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis accusamus, ipsa
        ut aliquam tempora doloremque eaque error, ullam, natus illo incidunt minus. Consequuntur veritatis repellat a
        adipisci cupiditate. Perferendis, esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quas
        quidem fugiat? Est perferendis aliquid iure hic vel culpa voluptatem, placeat pariatur ex non exercitationem
        sequi dolores, recusandae cupiditate debitis?</P>
    <p class="about-location-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, vitae minus nemo,
        consequatur consectetur optio ea exercitationem enim dolorum voluptatum, suscipit in provident alias minima quae
        deserunt. Nostrum, dicta! Hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique corrupti
        atque cum maxime! Ipsum voluptatum iusto sunt ipsam numquam sit? Illo officia eos neque mollitia nesciunt
        impedit, magni dolorum maxime!</p>

    <div class="about-location-contact">

        <div class="about-location-contact-img">
            <img src="../../images/new-Hero-1.png" class="about-location-contact-img-photo" alt="banner-img">
        </div>
        <div class="about-location-contact-data">
            <h3  class="about-location-contact-data-heading">Contact Info & Location Details</h3>
            <div class="about-location-contact-data-box">
            <div class="about-location-contact-data-box-address">
                <p class="about-location-contact-data-box-address-heading">Address:</p>
                <p class="about-location-contact-data-box-address-text">74 WestnBroad Suite 170 Bethlehem,Pa 18018</p>
                <p class="about-location-contact-data-box-address-number">(484)526-1260</p>
                </p>
                <P class="about-location-contact-data-box-address-btnn"> Request Your Consultation</P>
            </div>
            <div class="about-location-contact-data-box-office">
                <p class="about-location-contact-data-box-office-heading">Office Hours:</p>
                <P class="about-location-contact-data-box-office-time"> Monday - Thursday: &nbsp;&nbsp;&nbsp; 8:30 AM -5:00PM</P>
                <P class="about-location-contact-data-box-office-time"> Friday: &nbsp;&nbsp;&nbsp; 8:30 AM -5:00PM</P>
            </div>
        </div>
</div>
    </div>

</div>