<div class="popular">
    <h4 class="popular-service">Popular service</h4>
    <p class="popular-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ullam ,
    </p>
    <p class="popular-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ullam ,
    </p>
    <p class="popular-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ullam ,
    </p>
    <p class="popular-heading">Injectiable</p>
    <p class="popular-heading">Injectiable</p>
    <p class="popular-heading">Injectiable</p>

</div>