
<div class="thank">
    <div class="thank__you">
        <div class="thank__you-left">
<h3 class="thank__you-left-heading">Thank you</h3>
<p class="thank__you-left-para">  perferendis quaerat earum aliquam debitis pariatur ea, nesciunt voluptatum fugit unde quo at mollitia ab iste ullam magnam!</p>
     </div>
        <div class="thank__you-right">
            <p class="thank__you-right-para">Need to contact us right now?</p>
            <p class="thank__you-right-para">give us a call</p>
            <button class="thank__you-right-bttn">call(484)526-1260</button>
            <img src="../../images/team.png" class="thank__you-right-img" alt="banner-img">
        </div>
    </div>
</div>