<!-- <footer class="footer">
    <div class="footer-divv1">
        <p class="footer-divv1-hhhh2">4534666ASDF</p>
        <p class="footer-divv1-aazz">Lorem ipsum dolor sit amet consectetur ad Lorem ipsum dolor sit amet consectetur ad
            Lorem ipsum dolor sit
            amet consectetur ad</p>
            <div class="footer-divv1-icon">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-facebook"></i>
            </div>
    </div>
    <div class="footer-divv2">
        <div class="footer-divv2-ddd2">
            <h5>Resource</h5>
            <p class="footer-divv2-ddd2-foot">Bilpay </p>
            <p class="footer-divv2-ddd2-foot">MyCharts </p>
            <p class="footer-divv2-ddd2-foot">Vistation Policy</p>
            <p class="footer-divv2-ddd2-foot">pharmacy</p>

        </div>
        <div class="footer-divv2-ddd2">
            <h5>Community</h5>
            <p class="footer-divv2-ddd2-foot">Support</p>
            <p class="footer-divv2-ddd2-foot">Veternas</p>
            <p class="footer-divv2-ddd2-foot">volunteer</p>
            <p class="footer-divv2-ddd2-foot">WaytoGive</p>

        </div>
        <div class="footer-divv2-ddd2">
            <h5>About</h5>
            <p class="footer-divv2-ddd2-foot">Bilpay</p>
            <p class="footer-divv2-ddd2-foot">Bilpay</p>
            <p class="footer-divv2-ddd2-foot">Bilpay</p>
            <p class="footer-divv2-ddd2-foot">Bilpay</p>
        </div>

        
    </div>
    <div class="footer-divv3">
        <h5>Careers</h5>
        <p class="footer-divv3-foot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odit
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odit
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odit
        </p>
        <a href="#" class="footer-divv3-foot121">Work with u</a>
        <p class="footer-divv3-foot"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odi
        </p>


    </div>
</footer>


     -->
<div class="footer">
    <div class="footer-left">
        <div class="footer-left-top">
            <div class="footer-left-top-left">
                <p class="footer-left-top-left-cont">4534666ASDF</p>
                <p class="footer-left-top-left-cont">Lorem ipsum dolor sit amet consectetur ad Lorem ipsum dolor sit
                    amet consectetur ad
                    Lorem ipsum dolor sit
                    amet consectetur ad</p>
            </div>
            <div class="footer-left-top-right">
                <div class="footer-left-top-right-data">
                    <h5>Resource</h5>
                    <p class="footer-left-top-right-data-text">Bilpay </p>
                    <p class="footer-left-top-right-data-text">MyCharts </p>
                    <p class="footer-left-top-right-data-text">Vistation Policy</p>
                    <p class="footer-left-top-right-data-text">pharmacy</p>

                </div>
                <div class="footer-left-top-right-data">
                    <h5>Community</h5>
                    <p class="footer-left-top-right-data-text">Support</p>
                    <p class="footer-left-top-right-data-text">Veternas</p>
                    <p class="footer-left-top-right-data-text">volunteer</p>
                    <p class="footer-left-top-right-data-text">WaytoGive</p>

                </div>
                <div class="footer-left-top-right-data">
                    <h5>About</h5>
                    <p class="footer-left-top-right-data-text">Bilpay</p>
                    <p class="footer-left-top-right-data-text">Bilpay</p>
                    <p class="footer-left-top-right-data-text">Bilpay</p>
                    <p class="footer-left-top-right-data-text">Bilpay</p>
                </div>

            </div>

        </div>
        <div class="footer-left-bottom">
            <div class="footer-left-bottom-icon">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-facebook"></i>
            </div>
            <div class="footer-left-bottom-text">
                <p class="footer-left-bottom-text-data">vendors |</p>
                <p class="footer-left-bottom-text-data">vendors |</p>
                <p class="footer-left-bottom-text-data">vendors |</p>
                <p class="footer-left-bottom-text-data">vendors |</p>
            </div>
        </div>
    </div>
    <div class="footer-right">
        <h5>Careers</h5>
        <p class="footer-right-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odit
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odit
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odit
        </p>
        <a href="#" class="footer-right-btn">Work with u</a>
        <p class="footer-right-data"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odi
        </p>
    </div>
</div>