<div class="lower">
    <h3 class="lower__heading"> Service: Lower Body Life</h3>
    <div class="lower__body">
        <div class="lower__body-text">
            <p class="lower__body-text-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus odit
                provident enim ab voluptates natus optio quidem quisquam similique in temporibus at, soluta repellendus
                laboriosam debitis rerum! Nostrum, iste culpa? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Vero consequatur facilis odit cupiditate repellendus ipsum saepe aperiam adipisci earum, ratione
                molestias. Earum adipisci nesciunt temporibus numquam ducimus quod voluptas voluptatibus. Lorem ipsum,
                dolor sit amet consectetur adipisicing elit. Sunt natus eius nostrum fuga. Officia nisi veritatis,
                commodi veniam obcaecati, reiciendis exercitationem mollitia cupiditate et, repellendus ratione voluptas
                quaerat maxime sint.</p>
            <p class="lower__body-text-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor sunt fugiat
                tempore perferendis rerum culpa impedit, alias ab id. Atque quae iste error. Quia ullam earum ad
                cupiditate architecto aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quas
                dolorum harum soluta totam laudantium culpa optio. Culpa odio velit est accusantium sed reprehenderit
                cum. Explicabo quae earum possimus quibusdam! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Numquam asperiores, hic fugiat sed voluptate provident alias beatae repellendus? Libero labore et soluta
                temporibus, laborum magni dolorum beatae blanditiis omnis quaerat! Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Perspiciatis nihil aliquam esse magni recusandae assumenda iure temporibus
                minima doloremque ab, quis placeat laborum officia error aut? Sequi eveniet recusandae soluta? Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quae consequuntur provident, ea cum
                libero atque impedit. Sequi obcaecati asperiores fuga itaque repellat sed, maiores sunt. Fugiat unde
                inventore culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nobis explicabo hic
                magnam nostrum ullam provident neque tenetur sequi quas eaque veniam fugiat adipisci molestias,
                quibusdam culpa aut esse facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
                eligendi corporis ullam minus velit nam. Deleniti perferendis nemo quae laboriosam provident, deserunt
                quos porro dignissimos expedita ducimus adipisci facilis praesentium!</p>

            <p class="lower__body-text-para"> tempore perferendis rerum culpa impedit, alias ab id. Atque quae iste
                error. Quia ullam earum ad
                cupiditate architecto aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quas
                dolorum harum soluta totam laudantium culpa optio. Culpa odio velit est accusantium sed reprehenderit
                cum. Explicabo quae earum possimus quibusdam! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Numquam asperiores, hic fugiat sed voluptate provident alias beatae repellendus? Libero labore et soluta
                temporibus, laborum magni dolorum beatae blanditiis omnis quaerat! Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Perspiciatis nihil aliquam esse magni recusandae assumenda iure temporibus
                minima doloremque ab, quis placeat laborum officia error aut? Sequi eveniet recusandae soluta? Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quae consequuntur provident, ea cum
                libero atque impedit. Sequi obcaecati asperiores fuga itaque repellat sed, maiores sunt. Fugiat unde
                inventore culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nobis explicabo hic
                magnam nostrum ullam provident</p>


        </div>
        <div class="lower__body-img">
        <img src="../../images/team.png" class="lower__body-img-pic" alt="banner-img">
        <p class="lower__body-img-seemore">See More Before & After Pictures</p>
        <p class="lower__body-img-request">Request your Consultation</p>
        </div>
    </div>
    <div class="lower__card">
        <img src="../../images/team.png" class="lower__card-img  rounded-full" alt="banner-img">
        <img src="../../images/team.png" class="lower__card-img" alt="banner-img">
        <img src="../../images/team.png" class="lower__card-img" alt="banner-img">
        <img src="../../images/team.png" class="lower__card-img" alt="banner-img">
    </div>
</div>